* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body {
    display: flex;
    flex-direction: column;
    background-color: #92c9fc;
    min-height: 100vh;
}

header {
    color: #ff00ea;
    font-weight: 300;
    font-size: 7rem;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-style: italic;
}


#section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a46bf0;
}

#section2 #card {
    background-color: #9900ff;
    border-radius: 10px;
    padding: 10px;
}

#section2 div {
    font-size: 2rem;
}

#section1 .fade {
    color: #6010f5;
}
#section1 span {
    opacity: 0;
    transition: all 1s ease;
    transform: translateY(100px);
    display: inline-block;
}

#section1 .fade {
    opacity: 1;
    transform: translateX(0px);
}

#section2 span {
    opacity: 0;
    transition: all 5s ease;

}
#section2 .odd-phrase1 .fade {
    opacity: 1;
    color: #fffb00;

}

#section2 .odd-phrase2 .fade {
    opacity: 1;
    color: #fffb00;
}


#section2 div div {
    font-style: italic;
}

#section3 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section3 #card2 {
    background-color: #aaa82f;
    border-radius: 10px;
    padding: 10px;
}
#section3 {
    background-color: #e2df2c;
}


#card {
    margin: 0px 10px;
}

#card2 {
    margin: 0px 10px;
}

#section3 div {
    font-style: italic;
    font-size: 2rem;
}

#section4 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 50, 50);
}

#section4 div {
    font-style: italic;
    font-size: 2rem;
}

#section4 #card3 {
    background-color: #e94c4c;
    border-radius: 10px;
    padding: 10px;
}


#section5 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(110, 245, 137);
}

#section5 div {
    font-style: italic;
    font-size: 2rem;
}

#section5 #card4 {
    background-color: #33d61d;
    border-radius: 10px;
    padding: 10px;
}


#card3 {
    margin: 0px 10px;
}


#card4 {
    margin: 0px 10px;
}

#section6 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 71, 148);
}

#section6 div {
    font-style: italic;
    font-size: 2rem;
}

#section6 #card5 {
    background-color: #d35171;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}


#section7 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(71, 224, 165);
}

#section7 div {
    font-style: italic;
    font-size: 2rem;
    font-weight: 500;
}




#card-queen {
    display: flex;
    align-items: center;
    transition: 0.5s;
    position: relative;
    width: 600px;
    height: 350px;
    background-color: #4ce9d4;
    border-radius: 20px;
}

#card-queen .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;

}

#card-queen .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4ce9d4;
    clip-path: circle(120px at center);
    transition: 0.5s;
}

#card-queen:hover .circle:before {
    background: #d40000;
    clip-path: circle(400px at center);
}

#card-queen img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    height: 250px;
    pointer-events: none;
    transition: 0.5s;
}

#card-queen:hover img { 
    left: 82%;
    top: 80%;
    height: 150px;

}

#card-queen .content {
    position: relative;
    align-self:baseline;
    padding: 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

#card-queen:hover .content {
    left: 0;
    opacity: 1;
    visibility: visible;
    color: white;
}

@media (max-width: 991px) {
    #card-queen
    {
        width: auto;
        width: 375px;
        max-width: 375px;
        align-items: flex-start;
    }
    #card-queen:hover {
        height: 500px;
    }
    #card-queen .content {
        width: 100%;
        left: 0;
        padding: 30px;
    }
    #section7 div {
        font-size: 2rem;
    }
    #card-queen:hover img {
        top: 80%;
        left: 70%;
        height: 150px;
    }
}

@media (max-width: 420px) {
    #card-queen .content {
        padding: 20px;
    }
}
 

#section6:focus {
    background-image: url(sunrise.jpg);
    background-position: center center;
    background-size: cover;

}


footer {
    height: 100px;
    text-align: center;
    line-height: 100px;
    background: rgb(122, 154, 190);
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
}

#addToMe button {
    padding: 10px 50px;
    font-weight: bold;
    background-color: blue;
    border: none;
    border-radius: 10px;
    color: white;
}